.Parents {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1000px;
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-height:1000px ;
  
  }
  
  .above-left { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-left: 160px;
   
  }
  .above-right { 
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 160px;
   }
  .bottom-left { 
    grid-area: 2 / 2 / 3 / 3; 
    margin-left: 160px;
  }
  .bottom-right {
     grid-area: 2 / 3 / 3 / 4; 
     margin-left: 160px;
    }