.demTable {
    border:1px outset #9a8d8d;
    border-collapse:collapse;
    padding:5px;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
}
.demTable th {
    border:2px solid #9a8d8d;
    text-transform: uppercase;
    padding:5px;
    background: #027b9a;
    color: gold;
}
.demTable td {
    border:1px outset #9a8d8d;
    text-align:center;
    padding:5px;
    background: wheat;
    color: #060606;
}
.total-order{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 19px;
    font-weight: 600;
    
   
}
.total-order p{
    margin-top: 10px;
    text-transform: uppercase;
    color: black;
    background-color: wheat;
    border: 2px solid rgb(0, 0, 0);
    border-radius:5px ;
    padding: 8px;
}